<nav class="navbar navbar-expand-lg navbar-light bg-white custom-nav">
    <a class="navbar-brand" href="#">POC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02" *ngIf="isAuthenticated">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link active" routerLink="/dashboard">Home</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)='onLogout()' role="button">Logout</a>
        </li>
      </ul>
    </div>
  </nav>