<div class="container d-flex align-items-center flex-row justify-content-center" style="height: 100vh;">
    <div class="card shadow border-0 bg-white rounded">
        <div class="card-body p-0">
            <div class="row w-100 mx-0" >
                <div class="col-sm-12 col-md-6 py-4"
                    [@slide]="slideFor()">
                    <h3 class="text-center">{{isLoginMode ? 'Sign in' : 'Create account'}}</h3>
                    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="email" id="email" class="form-control" ngModel name="email" required email
                                #emailInput="ngModel">
                            <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
                                <small *ngIf="emailInput.hasError('required')" class="text-danger">Email is
                                    required</small>
                                <small *ngIf="emailInput.hasError('email')" class="text-danger">Email is invalid</small>
                                <small *ngIf="emailInput.hasError('emailError')" class="text-danger">
                                    {{emailInput.errors.emailError}}
                                </small>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" class="form-control" ngModel name="password" required
                              #pwInput="ngModel" minlength>
                            <div *ngIf="pwInput.invalid && (pwInput.dirty || pwInput.touched)">
                                <small *ngIf="pwInput.hasError('required')" class="text-danger">Password is required</small>
                                <small *ngIf="pwInput.hasError('passwordError')" class="text-danger">
                                    {{pwInput.errors.passwordError}}
                                </small>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary" type="submit" [disabled]="!f.valid">{{isLoginMode ? 'Sign in'
                                : 'Sign Up'}}</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-12 col-md-6 text-center d-flex flex-column justify-content-center py-5 py-md-0"
                   [@slide]="slideFor('signUp')"
                   style="background-image: linear-gradient(to bottom left, rgb(33, 147, 176), rgb(109, 213, 237));"
                >
                    <div *ngIf="!isLoginMode">
                        <h3 class="text-white font-weight-bold">Welcome Back!</h3>
                        <p class="text-white ">To keep connected please login with your personal info</p>
                        <div>
                            <button class="btn btn-outline-light" (click)="onSwitchMode()" type="button">
                                Switch to Sign in
                            </button>
                        </div>
                    </div>
                    <div *ngIf="isLoginMode">
                        <h3 class="text-white font-weight-bold">Wanna be our member!</h3>
                        <p class="text-white ">Just fill your personal details and start jourey with us</p>
                        <div>
                            <button class="btn btn-outline-light" (click)="onSwitchMode()" type="button">
                                Switch to Sign Up
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>