
<div class="row justify-content-center">
  <div class="col-sm-12">

 <div class="card">
   <div class="card-header border-bottom-0">
    List Of Policy
   </div>
   <div class="card-body">
    <table class="table table-sm  table-striped">
      <thead class="thead-bg-indigo">
        <tr>
          <th scope="col">Sno</th>
          <th scope="col">Name</th>
          <th scope="col">Last Updated</th>
          <th scope="col">Policy Status</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="policies">
        <tr *ngFor="let policy of policies; let i = index;">    
          <td scope="row">{{i+1}}</td>
          <td>{{policy.name}}</td>
          <td>{{policy.last_updated}} </td>
          <td>         
            <input type="checkbox" [checked]="policy.status" (click)="!policy.status && open(content)"/> 
          </td>
        </tr>
        <tr class="text-center" *ngIf="policies.length < 0">
          <td colspan="4">Policy not found!</td>
        </tr>
        </ng-container>
      </tbody>
    </table>
   </div>
 </div>

  </div>
  </div>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h6 class="modal-title" id="modal-basic-title">Change Password</h6>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="text-right">
        <div class="form-group row">
            <label for="currentPassword" class="col-sm-5 col-form-label"> Current Password</label>
            <div class="col-sm-7">
                <input type="password" class="form-control input-sm" id="currentPassword" value="">
            </div>
        </div>
        <div class="form-group row">
          <label for="newPassword" class="col-sm-5 col-form-label"> New Password</label>
          <div class="col-sm-7">
              <input type="password" class="form-control input-sm" id="newPassword" value="">
          </div>
      </div>
      <div class="form-group row">
        <label for="varificationPassword" class="col-sm-5 col-form-label"> Confirm Password</label>
        <div class="col-sm-7">
            <input type="password" class="form-control input-sm" id="varificationPassword" value="">
        </div>
    </div>
        </form>
        
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-outline-dark" (click)="c('Save click')">Save</button>
    </div>
  </ng-template>