
<div class="row justify-content-center">
  <div class="col-sm-12">

 <p class="text-center">List Of Policy</p>
<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Last Updated</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>{{date}}</td>
        <td>
         
          <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" [value]="1"> Active
            </label>
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" value="middle"> Deactive
            </label>         
          </div>
        
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>{{date}}</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry the Bird</td>
        <td>{{date}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>