
<div class="row justify-content-center">
  <div class="col-sm-12">

 <p class="text-center">List Of Policy</p>
<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Last Updated</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let policy of policies; let i = index;">    
        <th scope="row">{{i+1}}</th>
        <td>{{policy.name}}</td>
        <td>{{date}}</td>
        <td>         
          <input type="checkbox" [checked]="policy.status" (click)="!policy.status && open(content)"/> 
        </td>
      </tr>
      <tr class="text-center" *ngIf="policies?.length == undefined || policies?.length > 0">
        <td colspan="4">Policy not found!</td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h6 class="modal-title" id="modal-basic-title">Change Password</h6>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="text-right">
        <div class="form-group row">
            <label for="currentPassword" class="col-sm-5 col-form-label"> Current Password</label>
            <div class="col-sm-7">
                <input type="password" class="form-control input-sm" id="currentPassword" value="">
            </div>
        </div>
        <div class="form-group row">
          <label for="newPassword" class="col-sm-5 col-form-label"> New Password</label>
          <div class="col-sm-7">
              <input type="password" class="form-control input-sm" id="newPassword" value="">
          </div>
      </div>
      <div class="form-group row">
        <label for="varificationPassword" class="col-sm-5 col-form-label"> Varification</label>
        <div class="col-sm-7">
            <input type="password" class="form-control input-sm" id="varificationPassword" value="">
        </div>
    </div>
        </form>
        
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-outline-dark" (click)="c('Save click')">Save</button>
    </div>
  </ng-template>