<div class="row justify-content-center">
    <div class="col-sm-12">
       
        <div class="card">
            <div class="card-header border-bottom-0">
                This page allows you to manage password policy information.
            </div>
            <div class="card-body">
                <!-- <form [formGroup]="addPolicyForm" (ngSubmit)="onSubmit()"> -->
                    <form [formGroup]="addPolicyForm" (ngSubmit)="onSubmit()">
                    <div class="form-group row">
                        <label for="policyName" class="col-sm-2 col-form-label">Name <span class="required-asterisk">*</span></label>
                        <div class="col-sm-10 input-group-sm">
                            <input type="text" formControlName="name" name="name" class="form-control input-sm" id="policyName" value="" placeholder="Policy Name">
                            <small class="text-danger text-small"
                            *ngIf="(policyFormControl.name.touched || submitted) && policyFormControl.name.errors?.required">
                            Name is required!
                            </small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">Min. Length <span class="required-asterisk">*</span></label>
                        <div class="col-sm-10 input-group-sm">
                            <input type="text" digitOnly  maxlength="2" formControlName="min_length" name="min_length" class="form-control input-sm" id="" placeholder="Minimum Length">
                            <small class="text-danger text-small"
                            *ngIf="(policyFormControl.min_length.touched || submitted) && policyFormControl.min_length.errors?.required">
                            Minimum Length is required!
                            </small>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">Min. No</label>
                        <div class="col-sm-10 input-group-sm">
                            <input type="text" digitOnly  maxlength="2" formControlName="min_number" name="min_number" class="form-control input-sm" id="" placeholder="Min. No">
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">Min. Lowercase</label>
                        <div class="col-sm-10 input-group-sm">
                            <input type="text" digitOnly  maxlength="2" formControlName="min_lowercase"  name="min_lowercase" class="form-control input-sm" id="" placeholder="Min. Lowercase">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">Min. Uppercase</label>
                        <div class="col-sm-10 input-group-sm">
                            <input type="text" digitOnly  maxlength="2" formControlName="min_uppercase"  name="min_uppercase" class="form-control input-sm" id="" placeholder="Min. Uppercase">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">Min. Special Char</label>
                        <div class="col-sm-10 input-group-sm">
                            <input type="text" digitOnly  maxlength="2" formControlName="min_special_char"  name="min_special_char" class="form-control input-sm" id="" placeholder="Min. Special Char">
                        </div>
                    </div>

                  
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">Cannot content username</label>
                        <div class="col-sm-10 input-group-sm">
                            <select id="contentUsername" class="form-control input-sm" formControlName="contains_username" name="contains_username">
                                <option selected value="true">Yes</option>
                                <option value="false">No</option>
                            </select> 
                        </div>
                    </div>
                    <!-- <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">Exclude List:</label>
                        <div class="col-sm-10 input-group-sm">
                            <textarea class="form-control input-sm" formControlName="excludeList" name="excludeList"> </textarea>
                            
                        </div>
                    </div> -->
                    <div class="text-center">
                        <button type="button" class="btn btn-sm btn-outline-primary mr-3" (click)="reset()">Reset</button>
                        <button type="submit" class="btn btn-sm btn-success ">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>